In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Supperss Warinings

import warnings
warnings.filterwarnings('ignore')

#import the numpy and pandas package

import numpy as np
import pandas as pd

#Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split #Split the data into training and Test Data
from sklearn. linear_model import LinearRegression

In [4]:
from sklearn.metrics import mean_squared_error
#Going to yse mean squared error method
from sklearn.metrics import r2_score

In [8]:
#Load the data set as a data frame or you can simply Load
salesdata = pd.DataFrame(pd.read_csv("salesdata.csv"))

In [9]:
salesdata.head()

  Product ID Product Category   Price  Discount  Season  Sales
0         P0             Home  352.10     25.95  Spring     16
1         P1             Toys  272.69     23.96  Spring     25
2         P2      Electronics  161.67      1.28    Fall     19
3         P3             Home  408.76     17.06  Spring     23
4         P4             Home  345.52     19.01    Fall     23

In [10]:
salesdata.tail()

    Product ID Product Category   Price  Discount  Season  Sales
995       P995      Electronics  337.42     24.62    Fall     17
996       P996      Electronics  313.55     28.86  Summer     20
997       P997             Toys  237.11     43.28  Summer     31
998       P998             Toys  196.10     49.04    Fall     20
999       P999             Home  433.03     20.38  Spring     20

In [11]:
salesdata.count()

Product ID          1000
Product Category    1000
Price               1000
Discount            1000
Season              1000
Sales               1000
dtype: int64

In [12]:
salesdata.shape

(1000, 6)

In [13]:
salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        1000 non-null   object
 1   Product Category  1000 non-null   object
 2   Price             1000 non-null   float64
 3   Discount          1000 non-null   float64
 4   Season            1000 non-null   object
 5   Sales             1000 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [14]:
salesdata.describe()

             Price     Discount        Sales
count  1000.000000  1000.000000  1000.000000
mean    254.879690    24.907990    19.933000
std     142.982197    14.313514     4.529794
min      12.270000     0.080000     8.000000
25%     126.095000    12.837500    17.000000
50%     255.270000    25.280000    20.000000
75%     377.367500    36.910000    23.000000
max     499.860000    49.920000    36.000000

In [15]:
salesdata.isnull().sum()

Product ID          0
Product Category    0
Price               0
Discount            0
Season              0
Sales               0
dtype: int64

In [32]:
salesdata = salesdata.drop(columns=['Product ID'])

In [38]:
X = salesdata.drop(columns=['Sales'])
y = df['Sales']

NameError: name 'df' is not defined

In [37]:
categorical_features = ['Product Category', 'Season']
X_encoded = pd.get_dummies(X, columns=categorical_features, drop_first=True)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [43]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [44]:
score = model.score(X_test, y_test)
score

-0.027550535569790258